<nav class="navbar navbar-light" style="background-color: #0f8fa8;">

    <a class="navbar-brand" href="@Url.Action("Index", "Home")">
        <img src="~/Images/main.jpg" width="200" height="80" alt="">
    </a>

    <div class="nav nav-tabs">
        <a class="nav-link text-white" href="@Url.Action("Create", "Contacto")">Contacto <span class="sr-only">(current)</span></a>
        <a class="nav-link text-white" href="@Url.Action("Index", "Nosotros")">Nosotros</a>
        <a class="nav-link text-white" href="@Url.Action("Contact", "Home")">Servicios</a>
   
    </div>


</nav>

