
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Acerca de Nosotros</h2>
<p></p>
<p></p>
<div class="container">
    <div class="row">
        <div class="col-md-4 justify-content-center">
            <h3> Facebook</h3>
            <img style="height: 100px; width: 50%; display: block;" src="@Url.Content("~/Images/face.png")" ; alt="Card image">
            <a href="https://www.facebook.com/facebook" class="badge badge-light" target="_blank">/Otorrino-Mérida-DraNeri</a>


        </div>
        <div class="col-md-4 justify-content-center">
            <h4>Teléfono</h4>
            <img style="height: 100px; width: 50%; display: block;" src="@Url.Content("~/Images/tel.png")" ; alt="Card image">
            <a class="badge badge-light">999-3899-382</a>

        </div>
        <div class="col-md-4 justify-content-center">
            <h4> Correo Electrónico  </h4>
            <img style="height: 100px; width: 50%; display: block;" src="@Url.Content("~/Images/mail.png")" ; alt="Card image">
            <a href="mailto:correo@gmail.com" class="badge badge-light" target="_blank">/correo@gmail.com</a>

            <p></p>
        </div>
    </div>
</div>


<div class="map wid-85 m-wid-90 s-wid-100 v-mar-16 auto"><iframe allowfullscreen frameborder="0" height="500" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.3384032304934!2d-89.58807648506752!3d21.019141486003633!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f567720f716584b%3A0x68d534fa3ff1996e!2sC%C3%89NIT%20Medical%20Center!5e0!3m2!1ses-419!2smx!4v1578937825221!5m2!1ses-419!2smx" style="border:0" width="100%"></iframe></div>


