@model IEnumerable<otorino.Models.Cliente>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sus datos fueron enviados</h2>


<table class="table">
    <tr>
        <th>
            Su mensaje fue enviado, nos pondremos en contacto con usted lo más pronto posible
        </th>
    </tr>
    

</table>
